
body {
    background-color: #1a1b26;
    color: #8045ea;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
}

main {
  color: #333;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
  background-color: darkgray;
}